<div class="footer-component">
    <div class="box">
        <div class="inner-box">
            <h1>ICON</h1>        
        </div>
        <div class="inner-box">
            <p>Lorem ipsum dolor sit amet suspendisse varius. Duis cursus, mi quis viverra ornare.</p>
        </div>
        <div class="inner-box">
            <div class="d-flex">
                <div>
                    <img class="image" src="./svgs/git-icon.svg" alt="">
                </div>
                <div>
                    <img class="image" src="./svgs/instagram-icon.svg" alt="">
                </div>
                <div>
                    <img class="image" src="./svgs/twiter-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="inner-box d-flex">
            <div>
                <a class="a-nav" href="">About</a>
            </div>
            <div>
                <a class="a-nav" href="">Work</a>
            </div>
            <div>
                <a class="a-nav" href="">Blog</a>
            </div>
        </div>
        <div class="inner-box d-flex">
            <div>
                <a class="a-nav" href="">Style Guide</a>
            </div>
            <div>
                <a class="a-nav" href="">License</a>
            </div>
            <div>
                <a class="a-nav" href="">Changelog</a>
            </div>
            <div>
                <a class="a-nav" href="">404</a>
            </div>
            <div>
                <a class="a-nav" href="">Protected</a>
            </div>
        </div>
        <div>
            <hr class="hr-line"/>
        </div>
        <div class="inner-box">
            <div>
                <p>© 2023 LightUp by Maria Marin. Powered by Webflow.</p>
            </div>
        </div>
    </div>
</div>