<div class="home-component">
    <div class="navigation">
       <nav>
        <ul>
            <li>
                <a class="a-nav" href="">About</a>
            </li>
            <li>
                <a class="a-nav" href="">Work</a>
            </li>
            <li>
                <a class="a-nav" href="">Blog</a>
            </li>
            <li>
                <a class="a-nav contact" href="">Contact</a>
            </li>
        </ul>
       </nav> 
    </div>
    <div class="box container d-flex p-3">
        <div class="card col-7 left-box">
            <div>
                <span class="greeting">Hi! I’m Sujith S J</span>
            </div>
            <div>
                <span class="description">Full Stack Developer and Digital Strategist</span>
            </div>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
            </div>
            <div class="container d-flex">
                <div>
                    <img class="image" src="./svgs/git-icon.svg" alt="">
                </div>
                <div>
                    <img class="image" src="./svgs/instagram-icon.svg" alt="">
                </div>
                <div>
                    <img class="image" src="./svgs/twiter-icon.svg" alt="">
                </div>
            </div>
        </div>
        <div class="card col-5 right-box">
            <div class="photo">
                rr
            </div>
        </div>
    </div>
</div>