<div class="record-component">
    <div class="about-us">
        <div class="container p-1 d-flex">
            <div class="col-5 p-3 m-1">
                <div>
                    <p class="greeting">Hi! I’m Kyle Jones</p>
                </div>
                <div>
                    <p class="description">Delivering software solutions that are reliable, scalable, and user-friendly</p>
                </div>
                <div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                </div>
            </div>
            <div class="col-7 p-3 m-3">
                <div>
                    <div class="card p-2">
                        <div class="container d-flex">
                            <div class="">
                                <img class="image" src="./svgs/right-arrow-icon.svg" alt="">
                            </div>
                            <div class="">
                                <img class="image" src="./svgs/file-icon.svg" alt="">
                            </div>
                            <div class="">
                                <span class="text-color-1 ps-3">Planning and Analysis</span>
                            </div>
                        </div>
                    </div>
                    <div class="container col-10">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                    </div>
                </div>
                <div>
                    <div class="card p-2">
                        <div class="container d-flex">
                            <div class="">
                                <img class="image" src="./svgs/right-arrow-icon.svg" alt="">
                            </div>
                            <div class="">
                                <img class="image" src="./svgs/file-icon.svg" alt="">
                            </div>
                            <div class="">
                                <span class="text-color-1 ps-3">Planning and Analysis</span>
                            </div>
                        </div>
                    </div>
                    <div class="container col-10">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                    </div>
                </div>
                <div>
                    <div class="card p-2">
                        <div class="container d-flex">
                            <div class="">
                                <img class="image" src="./svgs/right-arrow-icon.svg" alt="">
                            </div>
                            <div class="">
                                <img class="image" src="./svgs/file-icon.svg" alt="">
                            </div>
                            <div class="">
                                <span class="text-color-1 ps-3">Planning and Analysis</span>
                            </div>
                        </div>
                    </div>
                    <div class="container col-10">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                    </div>
                </div>
                <div>
                    <div class="card p-2">
                        <div class="container d-flex">
                            <div class="">
                                <img class="image" src="./svgs/right-arrow-icon.svg" alt="">
                            </div>
                            <div class="">
                                <img class="image" src="./svgs/file-icon.svg" alt="">
                            </div>
                            <div class="">
                                <span class="text-color-1 ps-3">Planning and Analysis</span>
                            </div>
                        </div>
                    </div>
                    <div class="container col-10">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                    </div>
                </div>
                <div>
                    <div class="card p-2">
                        <div class="container d-flex">
                            <div class="">
                                <img class="image" src="./svgs/right-arrow-icon.svg" alt="">
                            </div>
                            <div class="">
                                <img class="image" src="./svgs/file-icon.svg" alt="">
                            </div>
                            <div class="">
                                <span class="text-color-1 ps-3">Planning and Analysis</span>
                            </div>
                        </div>
                    </div>
                    <div class="container col-10">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="client-testimonials">
        <div class="container justify-content-center p-5">
            <div class="text-center">
                <h3>Client Testimonials</h3>
            </div>
            <div class="text-center">
                <h1>See What Others Have to Say</h1>
            </div>
            <div class="text-center">
                <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h6>
            </div>
        </div>
        <div class="container d-flex">
            <div class="card col-3 m-5 p-4">
                <div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</p>
                </div>
                <div class="container d-flex">
                    <div>
                        <img class="photo-box" src="./jpgs/photo_avatar1.jpg" alt="">
                    </div>
                    <div>
                        <h5>Jenny Watson</h5>
                        <h6>Product Manager, Slack</h6>
                    </div>
                </div>
            </div>
            <div class="card col-3 m-5 p-4">
                <div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</p>
                </div>
                <div class="container d-flex">
                    <div>
                        <img class="photo-box" src="./jpgs/photo_avatar1.jpg" alt="">
                    </div>
                    <div>
                        <h5>Jenny Watson</h5>
                        <h6>Product Manager, Slack</h6>
                    </div>
                </div>
            </div>
            <div class="card col-3 m-5 p-4">
                <div>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."</p>
                </div>
                <div class="container d-flex">
                    <div>
                        <img class="photo-box" src="./jpgs/photo_avatar1.jpg" alt="">
                    </div>
                    <div>
                        <h5>Jenny Watson</h5>
                        <h6>Product Manager, Slack</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
